/*Bootsrap Icon*/   
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*App*/
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  
  nav {
    padding: 30px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

/*Universal Icon*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom Variables*/
:root {
  --primary: black;
  --secondary: rgb(255, 255, 255);
  --alternative: #74a57a;
  --mainBShadow: .4vw .3vw .3vw var(--alternative);
}

::-webkit-scrollbar{
  display: none;
}

body {
  scroll-behavior: smooth;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Select all images*/
img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
#about img{
  padding: 0px;
}

/*Logo*/
img[alt='logo']{
    width: 5rem;
}

/*Wrapper*/
:is(.wrapper){
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* section */
section {
  scroll-margin-block: 5rem;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Media Query*/
@media screen and (width < 800px) { 
  #landing .row{
    display:block;
    height: auto
  }
}